aniso8601==9.0.1
click==8.1.2
Flask==2.1.1
Flask-Injector==0.13.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.11.3
injector==0.19.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
psycopg2-binary==2.9.3
pydantic==1.9.0
pydantic-sqlalchemy==0.0.9
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.34
typing-extensions==4.1.1
Werkzeug==2.1.0
zipp==3.7.0
